.container {
    width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

.container h1{
    text-align: center;
    margin-bottom: 40px;
}

.loginContainer{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    height: 400px;
}

.inputContainer{
    margin-top: 50px;
}

.inputContainer input {
    width: 300px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.buttonContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.buttonContainer button{
    width: 100px;
    height: 35px;
    margin-left: 20px;
    border: none;
    background-color: rgb(0, 0, 0);
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.authLoginContainer{
    margin-top: 40px;
    margin-left: 20px;
}

.authLoginContainer button{
    height: 35px;
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}